
#diquahoacuc {
    margin-left: 450px;
    margin-top: -250px;
}
#diquahoacuc-name {
    font-size: 30px;
}
#diquahoacuc-tt {
    margin-top: 10px;
    font-size: 20px;
}
#diquahoacuc-price {
    margin-top: 10px;
    font-size: 25px;
}

#introduce-product {
    margin-top: 200px;
}

#img-intro {
    width: 400px;
    margin-left: 400px;
    margin-top: 30px;
}

#text {
    margin-left: 30px;
    margin-top: 30px;
}

#trangchu {
    margin-top: 10px;
}
