#section1 {
    background-color: black;
    color: white;
    height: 30px;
}
#top {
    margin-top: 10px;
    margin-left: 1000px;
    font-size: 15px;
    height: 30px;
}
#logo {
    margin-top: 25px;
    margin-left: 50px;
}
#section2 {
    background: #f26522;
    height: 100px;
}
button {
    height: 40px;
    width: 110px;
    color: black;
}


#section3 {
    background: #da5b1f;
    height: 40px;
    margin-left: -50px;
    margin-top: -16px;
}
#email-sign-in-bottom {
    background: white;
    margin-top: 100px;
    height: 220px;
}
#email-sign-in1 {
    margin-top: 30px;
}
#email-sign-in2 {
    margin-top: 20px;
}

#timkiem-email-bottom {
    margin-top: 20px;
    width: 800px;
    margin-left: 300px;
}

#section-signin {
    margin-left: 50px;
}
#trangchu {
    margin-top: 10px;
}
#dntk {
    margin-bottom: 30px;
}
#nbctk {
    margin-bottom: 30px;
}
#dn {
    margin-top: 20px;
}
#dk {
    margin-left: 20px;
    margin-top: 10px;
}

#bt-dn {
    background: #f26522;
    color: white;
}

#email-signin {
    margin-top: 20px;
    width: 400px;
}
#password {
    width: 400px;
}
